body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", Helvetica, sans-serif;
  }
  
  .desktop {
    background-color: #fe6e00;
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
  }
  
  .desktop .div {
    background-color: #fe6e00;
    width: 1920px;
    height: 1080px;
    position: relative;
  }
  
  .desktop .image {
    position: absolute;
    width: 729px;
    height: 729px;
    top: 239px;
    left: 128px;
    object-fit: cover;
  }
  
  .desktop .text-wrapper {
    position: absolute;
    width: 800px;
    top: 46px;
    left: 92px;
    font-weight: 600;
    color: #ffffff;
    font-size: 64px;
    text-align: center;
  }
  
  .desktop .overlap-group {
    position: absolute;
    width: 873px;
    height: 965px;
    top: 44px;
    left: 960px;
    background-color: #fedebe;
    border-radius: 53px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    gap: 20px;
    overflow: hidden;
  }
  
  .desktop .rectangle {
    width: 785px;
    height: 873px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .desktop .rectangle-2 {
    position: absolute;
    width: 785px;
    height: auto;
    top: 950px;
    left: 960px;
    background-color: #fe6e00;
    border-radius: 29px;
    box-shadow: 0px 4px 10px #00000040;
    opacity: 1;
    padding: 20px;
    text-align: center;
  }
  
  
  
  #webcam-container canvas {
    border-radius: 20px;
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  
  #status-text {
    font-size: 48px;
    font-weight: 700;
    line-height: 1.5;
    color: #ffffff;
    text-align: center;
    transition: color 0.5s ease;
  }
  
  